@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  --vscode-font-size: 13px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.bg-base {
  background-color: var(--vscode-panel-background);
  border: 1px solid var(--vscode-panel-border);
}

.bg-surface {
  background-color: var(--vscode-editor-background);
}

.text-main {
  color: var(--vscode-foreground);
}

.menu-btn-icon {
  @apply mx-3 my-1 text-lg;
}

.splitpanes__splitter {
  @apply relative !border-none;
}

.splitpanes--vertical > .splitpanes__splitter:before {
  @apply -right-1 -left-1;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
  @apply -top-1 -bottom-1;
}

.splitpanes__splitter:before {
  @apply absolute inset-0 z-[999] transition-[background-color] duration-300 content-[''];
}

.splitpanes__splitter:hover:before {
  @apply bg-blue-500/60;
}

.splitpanes__splitter:active:before {
  @apply bg-blue-500;
}

.splitpanes--vertical > .splitpanes__splitter {
  @apply !w-0 !max-w-0 !min-w-0 hover:cursor-col-resize;
}
.splitpanes--horizontal > .splitpanes__splitter {
  @apply !h-0 !max-h-0 !min-h-0 hover:cursor-row-resize;
}

#preview {
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: grab;
}

#typst-container-top {
  z-index: 1;
}

#typst-container-main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

#typst-app {
  width: fit-content;
  margin: 0;
  transform-origin: 0 0;
  background-color: #2b2b2b;
}

#typst-app.invert-colors {
  filter: invert(0.933333) hue-rotate(180deg);
}

#typst-app.invert-colors .typst-image {
  filter: invert(0) hue-rotate(0deg);
  transition: filter 0.1s ease-in-out;
}

#typst-app.invert-colors .typst-image:hover,
#typst-app.invert-colors.normal-image .typst-image {
  filter: invert(1) hue-rotate(180deg);
}

.typst-doc {
  fill: #2b2b2b;
}

.hide-scrollbar-x {
  overflow-x: hidden;
}

.hide-scrollbar-y {
  overflow-y: hidden;
}

.typst-text {
  pointer-events: bounding-box;
  cursor: text;
}

.tsel span,
.tsel {
  left: 0;
  position: fixed;
  text-align: justify;
  white-space: pre;
  width: 100%;
  height: 100%;
  text-align-last: justify;
  color: transparent;
}

.tsel span::-moz-selection,
.tsel::-moz-selection {
  color: transparent;
  background: #7db9dea0;
}

.tsel span::selection,
.tsel::selection {
  color: transparent;
  background: #7db9dea0;
}

.pseudo-link {
  fill: transparent;
  cursor: pointer;
  pointer-events: all;
}

.image_glyph image,
.outline_glyph path,
path.outline_glyph {
  transform: matrix(1, 0, 0, 1, var(--o), 0);
}

.outline_glyph path,
path.outline_glyph {
  fill: var(--glyph_fill);
  stroke: var(--glyph_stroke);
}

.hover .typst-text {
  --glyph_fill: #66bab7;
  --glyph_stroke: #66bab7;
}

.typst-text:hover {
  --glyph_fill: #f75c2f;
  --glyph_stroke: #f75c2f;
}

.typst-jump-ripple,
.typst-debug-react-ripple {
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
}

.typst-jump-ripple {
  border: 2px solid #66bab7;
}

.typst-debug-react-ripple {
  border: 1px solid #cb1b45;
}

@keyframes typst-jump-ripple-effect {
  to {
    width: 10vw;
    height: 10vw;
    opacity: 0.01;
    margin: -5vw;
  }
}

@keyframes typst-debug-react-ripple-effect {
  to {
    width: 3vw;
    height: 3vw;
    opacity: 0.1;
    margin: -1.5vw;
  }
}

.typst-svg-cursor {
  /* https://www.elevenforum.com/t/change-text-cursor-blink-rate-in-windows-11.12409/ */
  /* 1.2 seconds per blink is the default value on gtk and the slowest value on windows */
  animation: 1.2s blink step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
