@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --vscode-font-size: 13px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.bg-base {
  background-color: var(--vscode-panel-background);
  border: 1px solid var(--vscode-panel-border);
}

.bg-surface {
  background-color: var(--vscode-editor-background);
}

.text-main {
  color: var(--vscode-foreground);
}

.menu-btn-icon {
  @apply text-lg mx-3 my-1;
}
